
@{
    ViewBag.Title = "Demo_nameof";
}

@section scripts{
    <script>
        $(document).ready(function () {
            // 圖片放大
            $("#img1").click(function () {
                $('#myModal_img').modal('show');
            });

            // 結果
            $("#result").click(function () {
                $('#myModal_result').modal('show');
            });            
        });        
    </script>
}

<h2>Demo1 nameof()</h2>

<h3>介紹：</h3>
<p>此語法是用來取得參數名稱本身的字串所使用，避免寫程式的過程中，有打字錯誤，<br />或是複製剪貼的時候，字詞有遺漏的意外發生。</p>

<h3>應用情境：</h3>
<p>
    e.g. 在自訂的方法或副程式中，有參數傳遞的例外發生(通常是格式錯誤或是忘了傳值)。<br />
    此時，我們會想要在例外的提示中，明確的告知遺漏的參數為哪一個，來簡化debug的過程
</p>

<h3>範例：</h3>
<img id="img1" src="~/Content/Images/demo_1_001.png" width="600" />
<div id="myModal_img" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-lg" style="width:850px">
        <div class="modal-content">            
            <div class="modal-body" id="SqlWhoDetails">
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/Content/Images/demo_1_001.png" width="100%" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<hr />
<h3 id="result">結果</h3>

<div id="myModal_result" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-lg" style="width:850px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" name="title">執行結果</h4>
            </div>
            <div class="modal-body" id="SqlWhoDetails">
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/Content/Images/demo_1_002.png" width="100%" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>