@{
    ViewBag.Title = "demo";
}

<div class="jumbotron">
    <h1>C# 6.0 An Introduction</h1>
    <p class="lead">本次分享的主題為C# 6.0，而C# 6.0本身在架構上，並沒有做很大的改變，而是加強了現有的一些方法以及類別。
    所以本文注重在介紹C# 6.0新增的一些語法(糖)，並提供部分的範例，與實際上應用的情境。<br />
    最後，本文中的所有範例，已部屬到GitHub上，來提供範例的下載</p>
    <p><a href="https://github.com/mikemvc/demoCSharp" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>1. nameof</h2>
        <p>
            此語法是用來取得參數名稱本身的字串所使用，避免寫程式的過程中，有打字錯誤，<br />或是......
        </p>
        <p><a class="btn btn-default" href="~/Demo/Demo_nameof">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>2. 字串相連</h2>
        <p>實務上我們在做字串相連的時候，常常會使用到『+=』，或是使用『string.Format()』方法，在C#6.0有了更簡單的使用方式......</p>
        <p><a class="btn btn-default" href="~/Demo/Demo_String">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>3. 自動初始化屬性</h2>
        <p>我們在建立類別的時候，屬性的初始值必須在私有欄位中設定，現在可以透過C# 6.0的新方法......</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>